<div class="page-header">
    <h2>Place Bid  <small>- &nbsp<strong>{{model.name}}</strong></small></h2>
</div>

<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group form-group-lg">
                <label for="inputVolume" class="col-sm-3 control-label">Number of Shares</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        {{input value=inputVolume id="inputVolume" class="form-control" type="number" placeholder="0"}}
                    </div>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="inputPrice" class="col-sm-3 control-label">Purchase Price</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        {{input value=inputPrice id="inputPrice" class="form-control" type="number" placeholder="0"}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-2">
                    <button class="btn btn-default btn-lg" {{action 'cancel'}}>
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Cancel</button>
                </div>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-success btn-lg btn-block" {{action 'submit'}}>Submit</button>
                </div>

            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <img {{bind-attr src=model.logoURL}} class="center-block img-responsive" alt="company logo">
    </div>
</div>

<div class="footer"></div>