<div class="page-header">
    <h2><small>&nbsp<strong>{{model.name}}</strong></small></h2>
</div>

<div class="row">
    <div class="col-md-4">
        {{render "marketByOrder" model}}
    </div>


    <h4>Market By Price</h4>
    <div class="col-md-2">
        {{render "marketByPriceBids" model.bids}}
    </div>

    <div class="col-md-2">
        {{render "marketByPriceOffers" model.offers}}
    </div>

    <div class="col-md-4">
        <img {{bind-attr src=model.logoURL}} alt="logo">
    </div>
</div>