<div class="row">
    <div class="col-md-12">


        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" {{action 'sortByVolume'}}>Most Active by Volume</button>
            <button type="button" class="btn btn-default" {{action 'sortByGainers'}}>Gainers</button>
            <button type="button" class="btn btn-default" {{action 'sortByLosers'}}>Losers</button>
        </div>

        <table class="table table-hover table-bordered" summary="Summary of stocks by company" id="summary-table">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Open Price</th>
                    <th>Last Sale</th>
                    <th>Change Net - %</th>
                    <th>Share Volume</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                {{#each company in controller}}

                    <tr class="">
                        <td>{{#link-to 'company' company.id tagName="a"}}{{company.name}}{{/link-to}}</td>
                        <td>{{#link-to 'company' company.id tagName="a"}}{{company.openPrice}}{{/link-to}}</td>
                        <td>{{#link-to 'company' company.id tagName="a"}}{{company.lastSale}}{{/link-to}}</td>
                        <td>{{#link-to 'company' company.id tagName="a"}}{{company.changeNet}}
                            <img {{bind-attr src=company.changeIconName}} alt="changeIcon">
                            {{company.changePercentage}}
                        {{/link-to}}</td>
                        <td>{{#link-to 'company' company.id tagName="a"}}{{company.shareVolume}}{{/link-to}}</td>

                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">{{#link-to 'bid' company.id}}Buy{{/link-to}}</button>
                                <button type="button" class="btn btn-default">{{#link-to 'offer' company.id}}Sell{{/link-to}}</button>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{outlet}}
    </div>
</div>
<br>
<br>