<div class="row">
    <div class="col-md-12">


        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" {{action 'sortByVolume'}}>Most Active by Volume</button>
            <button type="button" class="btn btn-default" {{action 'sortByGainers'}}>Gainers</button>
            <button type="button" class="btn btn-default" {{action 'sortByLosers'}}>Losers</button>
        </div>

        <table class="table table-hover table-bordered row-clickable" summary="Summary of stocks by company">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Open Price</th>
                    <th>Last Sale</th>
                    <th>Change Net - %</th>
                    <th>Share Volume</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {{#each company in controller}}

                    <tr class="">
                        <td><a href="">{{#link-to 'bid'}}{{company.name}}{{/link-to}}</a></td>
                        <td><a href="">{{company.openPrice}}</a></td>
                        <td><a href="">{{company.lastSale}}</a></td>
                        <td><a href=#">{{company.changeNet}}
                            <img {{bind-attr src=company.changeIconName}} alt="changeIcon">
                            {{company.changePercentage}}
                            </a>
                        </td>
                        <td><a href="#">{{company.shareVolume}}</a></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">{{#link-to 'bid' company.id}}Buy{{/link-to}}</button>
                                <button type="button" class="btn btn-default">{{#link-to 'offer' company.id}}Sell{{/link-to}}</button>
                            </div>
                        </td>
                    </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h2>{{company.name}}</h2>
        <img {{bind-attr src=company.logoURL}} alt="logo">
    </div>
    <div class="col-md-4">
        {{partial "marketByOrder"}}
    </div>
    <div class="col-md-6">
        {{partial "marketByPrice"}}
    </div>
</div>
<br>
<br>